In [1]:
import pandas as pd
import seaborn as sb

In [8]:
df = pd.read_csv('latrocinio.csv', delimiter = ';', encoding = 'iso-8859-1')

In [5]:
df.head()

,ANO_BO,NUM_BO,NUMERO_BOLETIM,BO_INICIADO,BO_EMITIDO,DATAOCORRENCIA,PERIDOOCORRENCIA,DATACOMUNICACAO,DATAELABORACAO,BO_AUTORIA,...,PLACA_VEICULO,UF_VEICULO,CIDADE_VEICULO,DESCR_COR_VEICULO,DESCR_MARCA_VEICULO,ANO_FABRICACAO,ANO_MODELO,DESCR_TIPO_VEICULO,QUANT_CELULAR,MARCA_CELULAR
0,2019,2,fev/19,04/01/2019 18:21,04/01/2019 18:40,13/10/2018,A NOITE,04/01/2019,04/01/2019 18:21,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
1,2019,4,abr/19,04/01/2019 22:47,05/01/2019 03:01,04/01/2019,A NOITE,04/01/2019,04/01/2019 22:47,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
2,2019,16,16/2019,06/01/2019 01:26,06/01/2019 03:53,05/01/2019,A TARDE,06/01/2019,06/01/2019 01:26,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
3,2019,16,16/2019,06/01/2019 01:26,06/01/2019 03:53,05/01/2019,A TARDE,06/01/2019,06/01/2019 01:26,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN
4,2019,16,16/2019,06/01/2019 01:26,06/01/2019 03:53,05/01/2019,A TARDE,06/01/2019,06/01/2019 01:26,Desconhecida,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 54 columns):
ANO_BO                      79 non-null int64
NUM_BO                      79 non-null int64
NUMERO_BOLETIM              79 non-null object
BO_INICIADO                 79 non-null object
BO_EMITIDO                  79 non-null object
DATAOCORRENCIA              79 non-null object
PERIDOOCORRENCIA            79 non-null object
DATACOMUNICACAO             79 non-null object
DATAELABORACAO              79 non-null object
BO_AUTORIA                  79 non-null object
FLAGRANTE                   79 non-null object
NUMERO_BOLETIM_PRINCIPAL    45 non-null object
LOGRADOURO                  59 non-null object
NUMERO                      79 non-null int64
BAIRRO                      59 non-null object
CIDADE                      59 non-null object
UF                          59 non-null object
LATITUDE                    59 non-null object
LONGITUDE                   59 non-null object
DESCRICAOLOCAL              79 non-null object
EXAME                       67 non-null object
SOLUCAO                     79 non-null object
DELEGACIA_NOME              79 non-null object
DELEGACIA_CIRCUNSCRICAO     79 non-null object
ESPECIE                     79 non-null object
RUBRICA                     79 non-null object
DESDOBRAMENTO               41 non-null object
STATUS                      79 non-null object
NOMEPESSOA                  60 non-null object
TIPOPESSOA                  60 non-null object
VITIMAFATAL                 60 non-null object
RG                          59 non-null float64
RG_UF                       59 non-null object
NATURALIDADE                59 non-null object
NACIONALIDADE               50 non-null object
SEXO                        60 non-null object
DATANASCIMENTO              59 non-null object
IDADE                       59 non-null float64
ESTADOCIVIL                 59 non-null object
PROFISSAO                   57 non-null object
GRAUINSTRUCAO               19 non-null object
CORCUTIS                    0 non-null float64
NATUREZAVINCULADA           60 non-null object
TIPOVINCULO                 60 non-null object
PLACA_VEICULO               33 non-null object
UF_VEICULO                  33 non-null object
CIDADE_VEICULO              33 non-null object
DESCR_COR_VEICULO           33 non-null object
DESCR_MARCA_VEICULO         33 non-null object
ANO_FABRICACAO              79 non-null int64
ANO_MODELO                  79 non-null int64
DESCR_TIPO_VEICULO          33 non-null object
QUANT_CELULAR               0 non-null float64
MARCA_CELULAR               0 non-null float64
dtypes: float64(5), int64(5), object(44)
memory usage: 19.8+ KB